{{#section 'title'}}
    Thông tin cá nhân
{{/section}}
{{#section 'js'}}
	<script src="/assests/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assests/jquery-validation-1.12.0/jquery.validate.min.js"></script>
	<script type="text/javascript">
		$("#changeProfile").click(function(){
    		$("#changePassword").hide();
    		$("#changeProfile").hide();
    		$("#save").show();
		});
		// $("#save").click(function(){
  //   		$("#changePassword").show();
  //   		$("#changeProfile").show();
  //   		$("#save").hide();
		// });
        $('#frmchangePassword').validate({
            rules: {
                rawPWDold: {
                    required: true,
                },
                rawPWDnew1: {
                    required: true,
                    minlength: 6
                },
                rawPWDnew2: {
                    required: true,
                    equalTo: '#txtPWDnew1',
                },
            },

            messages: {
                rawPWDold: {
                    required: 'Vui lòng nhập mật khẩu cũ.'
                },
                rawPWDnew1: {
                    required: 'Vui lòng nhập mật khẩu mới',
                    minlength: 'Mật khẩu tối thiểu 6 ký tự'
                },
                rawPWDnew2: {
                    required: 'Vui lòng nhập mật khẩu mới',
                    equalTo: 'Mật khẩu không khớp'
                },
            },

            errorElement: 'span',
            errorClass: 'help-block',

            highlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .addClass(' has-error');
            },

            success: function (label) {
                $(label)
                    .closest('.form-group')
                    .removeClass(' has-error');

                label.remove();
            },
        });
	</script>
{{/section}}
{{!-- body --}}
<!-- Body -->
{{#if showMsg }}
    {{#if error }}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{ msg }}
        </div>
    {{else}}
        <div class="alert alert-success alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> {{ msg }}
        </div>
    {{/if}}        
{{/if}}
<form id="frmchangePassword" method="post" action="/account/changePassword" class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin-bottom: 20px">
    <div class="mainbox" id="loginbox">
        <div class="panel panel-info">
            <div class="panel-heading ">
                <div class="panel-title">
                    Thay đổi mật khẩu
                </div>
            </div>
            <div  class="panel-body  form-horizontal" style="padding-top:30px;">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="rawPWDold" class="col-sm-4 control-label">Mật khẩu cũ</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="txtPWDold" placeholder="Old Password" name="rawPWDold">
                            </input>
                        </div>
                    </div>

                    <div><br></div>
                    <div class="form-group">
                        <label for="rawPWDnew1" class="col-sm-4 control-label">Mật khẩu mới</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="txtPWDnew1" placeholder="New Password" name="rawPWDnew1">
                            </input>
                        </div>
                    </div>

                    <div><br></div>
                    <div class="form-group">
                        <label for="rawPWDnew2" class="col-sm-4 control-label">Nhập lại mật khẩu mới</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="txtPWDnew2" placeholder="Confirm Password" name="rawPWDnew2">
                            </input>
                        </div>
                    </div>

                    <div><br></div>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="/account/profile">Trở về</a>  
                                    </div>

                                    <div class="col-md-2 col-md-offset-7">
										<button type="submit" class="btn btn-success" id="save">
											Lưu thay đổi
										</button>	
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <!-- END Body -->
{{!-- end body --}}
