{{#section 'title'}}
    Đăng ký
{{/section}}

{{#section 'css'}}
    <link href="/assests/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <style type="text/css">
        label {
            font-weight: normal !important;
        }
    </style>
{{/section}}

{{#section 'js'}}
    <script type="text/javascript">
        function DrawBotBoot()
        {
            var a = Math.ceil(Math.random() * 10);
            var b = Math.ceil(Math.random() * 10);    
            var c = a + b;
            var captcha = document.getElementById("txtCaptcha");
            captcha.innerHTML = "What is "+ a + " + " + b + "? ";
            document.getElementById("txtValue").value = "" + c;
        }
    </script>

    <script src="/assests/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assests/jquery-validation-1.12.0/jquery.validate.min.js"></script>
    
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'd/m/yyyy',
            autoclose: true,
        });

        $('#frmRegister').validate({
            rules: {
                username: {
                    required: true
                },
                rawPWD: {
                    required: true,
                    minlength: 6
                },
                cPWD: {
                    equalTo: '#txtPWD'
                },
                name: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                dob: {
                    required: true
                },
                address: {
                    required: true
                },

                captchaCode: {
                    equalTo: '#txtValue'
                },
            },

            messages: {
                username: {
                    required: 'Vui lòng nhập username.'
                },
                rawPWD: {
                    required: 'Vui lòng nhập mật khẩu',
                    minlength: 'Mật khẩu phải dài ít nhất 6 ký tự'
                },
                cPWD: {
                    equalTo: 'Mật khẩu nhập lại chưa khớp'
                },
                name: {
                    required: 'Vui lòng nhập họ tên'
                },
                Email: {
                    required: 'Vui lòng nhập email',
                    email: 'EMail không đúng định dạng'
                },
                dob: {
                    required: 'Vui lòng chọn ngày sinh'
                },
                address: {
                    required: 'Vui lòng nhập địa chỉ'
                },
                captchaCode: {
                    equalTo: 'Vui lòng nhập captcha đúng'
                },
            },

            errorElement: 'span',
            errorClass: 'help-block',

            highlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .addClass('has-error');
            },

            success: function (label) {
                $(label)
                    .closest('.form-group')
                    .removeClass('has-error');

                label.remove();
            },
        });
    </script>
{{/section}}

{{#if showMsg }}
    {{#if error }}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{ msg }}
        </div>
    {{else}}
        <div class="alert alert-success alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> {{ msg }}
        </div>
    {{/if}}        
{{/if}}

<form class="form-horizontal" method="post" action="" id="frmRegister">
    <div class="form-group">
        <label for="txtUsername" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtUsername" placeholder="Tên đăng nhập" name="username">
        </div>
    </div>
    <div class="form-group">
        <label for="txtPWD" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtPWD" placeholder="Password" name="rawPWD">
        </div>
    </div>
    <div class="form-group">
        <label for="txtCPWD" class="col-sm-2 control-label">Nhập lại</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtCPWD" placeholder="Nhập lại password" name="cPWD">
        </div>
    </div>
    <div class="form-group">
        <label for="txtName" class="col-sm-2 control-label">Họ tên</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtName" placeholder="Họ tên" name="name">
        </div>
    </div>
    <div class="form-group">
        <label for="txtEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtEmail" placeholder="Email" name="email">
        </div>
    </div>
    <div class="form-group">
        <label for="txtDOB" class="col-sm-2 control-label">Ngày sinh</label>
        <div class="col-sm-4">
            <input type="text" class="form-control datepicker" id="txtDOB" placeholder="d/m/yyyy" name="dob">
        </div>
    </div>
    <div class="form-group">
        <label for="txtAddress" class="col-sm-2 control-label">Địa chỉ</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtAddress" placeholder="Số nhà, đường, phường, quận, tỉnh" name="address">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-2 col-sm-3 control-label" id="txtCaptcha" name="captcha"></label>
        <label class="hidden" id="txtValue"></label>
    </div>
    <div class="form-group">
        <label for="CaptchaCode" class="col-sm-2 control-label">Captcha</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtCaptchaCode" placeholder="captcha" name="captchaCode">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
            <i class="fa fa-check"></i>
            Đăng ký
            </button>
            <button type="button" class="btn btn-success" onclick="DrawBotBoot();">Show captcha</button>
        </div>
    </div>
</form>