<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>
            {{{_sections.title}}}
        </title>
        <link href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/assests/otherCSS/header.css" rel="stylesheet"/>
        <link href="/assests/otherCSS/journal2.css" rel="stylesheet"/>
        {{{_sections.css}}}
    </head>
    <body style="min-width: 1024px">
        {{> header this }}
        <form id="frmLogout" method="post" action="/account/logout"></form>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-top: 25px">
                    <div class="row">
                        <!-- Danh sách sản phẩm -->
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top:5px">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color: #0033FF">
                                    <h3 align="center" class="panel-title" id="DSSP">
                                        Danh sách sản phẩm
                                    </h3>
                                </div>
                                {{> categories this }}
                            </div>
                        </div>
                        <!-- END Danh sách sản phẩm -->
                        <!-- body -->
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            {{{body}}}
                        </div>
                        <!-- Body -->
                    </div>
                </div>
                 <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: 15px;">
                    {{> support this }}
                 </div>
            </div>
            <br>
            <br>
            <footer>
                {{> footer this }}
            </footer>
        </div>
    </body>
    <script src="/assests/jquery-3.2.0.min.js" type="text/javascript">
    </script>
    <script src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        $('#logoutLink').on('click', function () {
            $('#frmLogout').submit();
        });
    </script>
    {{{_sections.js}}}
</html>