<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <title>
                Đấu giá nhanh
            </title>
            <link href="../public/assests/otherCSS/header.css" rel="stylesheet"/>
            <link href="../public/assests/otherCSS/journal.css" rel="stylesheet"/>
            <link href="../public/assests/otherCSS/journal2.css" rel="stylesheet"/>
            <link href="../public/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
                <script src="../public/assests/jquery-3.2.0.min.js" type="text/javascript">
                </script>
                <script>
                    $(document).ready(function(){
         $("#DSSP").hover(function(){
            $(this).css("color", "red");
        }, function(){
            $(this).css("color", "black");
        });
     });

        $(document).ready(function(){
         $("[data-toggle=popover]").popover({ 
            trigger: 'manual',
            html: true,
            content: function() {
               return $(this).next('.popover').html();
           }
       }).on("mouseenter", function () {
        var _this = this;
        $(this).popover("show");
        $(".popover").on("mouseleave", function () {
           $(_this).popover('hide');
       });
    }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
           if (!$(".popover:hover").length) {
              $(_this).popover("hide");
          }
      }, 300);
    });
});

        var count = 0;
        var ArrayImage = [];

        ArrayImage[0] ="../public/assests/images/Banner-Phu-Kien-cdg.jpg";
        ArrayImage[1] ="../public/assests/images/Banner-T-trang-nu-cdg.jpg";
        ArrayImage[2] ="../public/assests/images/Banner-Dong-Ho-cdg.png";
        ArrayImage[3] ="../public/assests/images/12324.jpg";
        ArrayImage[4] ="../public/assests/images/Banner-Fishing-cdg.jpg"
        ArrayImage[5] ="../public/assests/images/Banner Tui Nu cdg.jpg";
        ArrayImage[6] ="../public/assests/images/Banner-Tui-Nam-cdg.jpg";
        ArrayImage[7] ="../public/assests/images/Banner-Giay-cdg.jpg";
        ArrayImage[8] ="../public/assests/images/Banner-Nuoc-Hoa-cdg.jpg";
        ArrayImage[9] ="../public/assests/images/Banner-Phu-Kien-cdg.jpg";

        function next(){
            count++;
            if(count > 9)
            {
                count = 0;
            }
            document.images['slide'].src = ArrayImage[count];
        }

        function pre(){
            count--;
            if(count < 0)
            {
                count = 9;
            }
            document.images['slide'].src = ArrayImage[count];
        }
                </script>
                <style type="text/css">
                    .nav-top .nav-logo {
         position: absolute;
         left: 0;
         top: 0px;
         display: inline-block;
     }

     .group-ht{
         font-size: 10px;
         font-weight: bold;
     }
     #DSSP{
         font-weight: bold;
     }

     #next{
        text-transform: uppercase;
        position: absolute;
        top: 100px;
        right: -10px;
    }

    #pre{
        text-transform: uppercase;
        position: absolute;
        top: 100px;
        left: -5px;

    }
                </style>
            </link>
        </meta>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <!-- Menubar -->
                <header class="journal-header-center nolang-nocurr" style="background-color: rgb(216, 242, 255)">
                    <div class="journal-header row z-2" id="header">
                        <div class="journal-links j-min xs-100 sm-100 md-50 lg-50 xl-50">
                            <div class="links j-min" style="top: 7px">
                                <span>
                                    <i style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 18px;">
                                        HOTLINE:
                                    </i>
                                    1900xxxx
                                </span>
                            </div>
                        </div>
                        <div class="journal-secondary j-min xs-100 sm-100 md-50 lg-50 xl-50">
                            <div class="links j-min" style="text-align: center;">
                                <a href="signin.html">
                                    <i style="margin-right: 5px; font-size: 16px;">
                                    </i>
                                    <span class="top-menu-link" style="color: rgb(0, 153, 242)">
                                        Đăng nhập
                                    </span>
                                </a>
                                <a href="signup.html">
                                    <i style="margin-right: 5px; font-size: 15px;">
                                    </i>
                                    <span class="top-menu-link" style="color: rgb(0, 153, 242)">
                                        Đăng Ký
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="journal-menu j-min xs-100 sm-100 md-100 lg-100 xl-100" style="border: solid;">
                            <ul class="super-menu mobile-menu menu-table" style="table-layout: auto; border-bottom: dashed;border-width: 1px">
                                <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                                    <a href="index.html">
                                        <i style="margin-right: 5px; font-size: 16px; top: -1px">
                                            Trang chủ
                                        </i>
                                    </a>
                                </li>
                                <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                                    <a href="gioi-thieu.html">
                                        <i style="margin-right: 5px; font-size: 16px; top: -1px">
                                            Giới thiệu
                                        </i>
                                    </a>
                                </li>
                                <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                                    <a href="ho-tro.html">
                                        <i style="margin-right: 5px; font-size: 16px; top: -1px">
                                            Hỗ trợ
                                        </i>
                                    </a>
                                </li>
                                <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                                    <a href="#">
                                        <i style="margin-right: 5px; font-size: 16px; top: -1px">
                                            Hỏi đáp
                                        </i>
                                    </a>
                                </li>
                                <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                                    <a href="#">
                                        <i style="margin-right: 5px; font-size: 16px; top: -1px">
                                            Liên hệ
                                        </i>
                                    </a>
                                </li>
                                <li style="margin-right: 5px; color: rgb(221, 0, 23); font-size: 16px; top: -1px">
                                    <a href="index.html">
                                        <i style="margin-right: 5px; font-size: 16px; top: -1px">
                                            Giỏ hàng
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Menubar -->
                </header>
            </div>
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-top: 25px">
                    <div class="nav-left">
                        <!-- Logo và thanh tìm kiến -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <img src="../public/assests/images/daugialogo.png" style="height: 70px;">
                                </img>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="panel panel-default" style="background-color: #CCCCCC">
                                    <div class="panel-body">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Tìm kiếm" style="width: 90%" type="text">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-warning" type="button">
                                                        Tìm kiếm
                                                    </button>
                                                </span>
                                            </input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Logo và thanh tìm kiến -->
                        <!-- Danh sách - Body - Hỗ trợ thanh toán -->
                        <div class="row">
                            <!-- Danh sách sản phẩm -->
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 30px">
                            </div>
                            <!-- END Danh sách sản phẩm -->
                            <!-- Body -->
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            </div>
                            <!-- END Body -->
                        </div>
                        <!-- END Danh sách - Body - Hỗ trợ thanh toán -->
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: 15px;">
                </div>
            </div>
            <!-- end row main -->
            <!--Bắt đầu phần footer của index-->
            <div class="footer">
                <div class="row">
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <ul>
                                                <li>
                                                    <h5>
                                                        Về chúng tôi
                                                    </h5>
                                                    <p>
                                                        <a href="gioi-thieu.html">
                                                            Giới thiệu
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <a href="/#">
                                                            Quy chế hoạt động Sàn Giao Dịch
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <a href="/#">
                                                            Đề án hoạt động Sàn Giao Dịch
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <a href="/#">
                                                            Tuyển dụng
                                                        </a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <ul>
                                                <li>
                                                    <h5>
                                                        Dành cho người bán
                                                    </h5>
                                                    <p>
                                                        <a href="/#">
                                                            Điều khoản bán hàng
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <a href="/#">
                                                            Hướng dẫn mở shop bán hàng online
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <a href="/#">
                                                            Hướng dẫn đăng SP bán trên trang Đấu giá
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <a href="/#">
                                                            Hướng dẫn quản lý và theo dõi đơn hàng
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <a href="/#">
                                                            Kinh nghiệm bán hàng online
                                                        </a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <ul>
                                                <li>
                                                    <h5>
                                                        Dành cho người mua
                                                    </h5>
                                                    <p>
                                                        <a href="/#">
                                                            Hướng dẫn mua hàng và thanh toán
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <a href="/#">
                                                            Tại sao một số sản phẩm có "Made in China"?
                                                        </a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <ul>
                                                <li>
                                                    <h5>
                                                        Sản phẩm và dịch vụ khác
                                                    </h5>
                                                    <p>
                                                        <a href="/#">
                                                            Điều kiện tham gia đấu giá
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <a href="/#">
                                                            Kinh nghiệm mua hàng online
                                                        </a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:170px" valign="top">
                                        <h5>
                                            Kết nối với chúng tôi
                                        </h5>
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com" target="_blank">
                                                    <span class="iconFoo">
                                                        <img src="../public/assests/images/fac.png"/>
                                                    </span>
                                                    Facebook
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://plus.google.com/100147235633698439422/posts" target="_blank">
                                                    <span class="iconFoo">
                                                        <img src="../public/assests/images/goo.png"/>
                                                    </span>
                                                    Google+
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" target="_blank">
                                                    <span class="iconFoo">
                                                        <img src="../public/assests/images/zing.png"/>
                                                    </span>
                                                    ZingMe
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/channel/UCGAHV95b3Zqnmb3_H5cuFiQ/feed" target="_blank">
                                                    <span class="iconFoo">
                                                        <img src="../public/assests/images/youtobe.png"/>
                                                    </span>
                                                    Youtube
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" target="_blank">
                                                    <span class="iconFoo">
                                                        <img src="../public/assests/images/t.png"/>
                                                    </span>
                                                    Twitter
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class=" fb_reset" id="fb-root">
                        <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
                            <script>
                                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
                            </script>
                        </div>
                        <div class="navFooterCol02">
                            <p class="bold">
                                Hình thức thanh toán
                            </p>
                            <div class="FooColum02">
                                <a class="box-ATM ui-border" href="#">
                                    <img src="../public/assests/images/paypal.jpg"/>
                                </a>
                                <a class="box-ATM ui-border" href="#">
                                    <img src="../public/assests/images/visa.jpg"/>
                                </a>
                                <a class="box-ATM ui-border" href="#">
                                    <img src="../public/assests/images/master-cart.jpg"/>
                                </a>
                                <a class="box-ATM ui-border" href="#">
                                    <img src="../public/assests/images/atm-online.jpg"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Kết thúc footer của index -->
        </div>
        <!-- End All -->
    </body>
    <script src="../public/assests/jquery-3.2.0.min.js" type="text/javascript">
    </script>
    <script src="../public/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript">
    </script>
</html>
