<!DOCTYPE html>
<html>
	<head>
		<title>add category</title>
		<link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<h1>Thêm danh mục</h1>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<form method="post" action="/category/add">
					<div class="thumbnail" style="background: #f7fff7">
						<div class="form-group">
							<label for="txtCatName">Tên danh mục</label>
							<input type="text" class="form-control" id="txtCatName" placeholder="name" name="catName">
						</div>

						</div>
						<a href="/account/manageCategories" class="btn btn-default" title="back">
						<span class="glyphicon glyphicon-menu-left"></span> Trở về
						</a>
						<button type="submit" class="btn btn-success">
							Lưu lại
						</button>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</html>