<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		Giới thiệu
	</title>
	<link href="../../public/assests/otherCSS/header.css" rel="stylesheet"/>
	<link href="../..//public/assests/otherCSS/journal2.css" rel="stylesheet"/>
	<link href="../../public/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<script src="../../public/assests/jquery-3.2.0.min.js" type="text/javascript">
	</script>
</link>
</meta>
</head>
<body>
	<div class="container-fluid">
		<div class="row" style="margin-top:-100px;">
			<div><h1 style="text-align: center;">
				<br>
				<br>
				<br>
				<span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size: 20px;"><strong>Giới thiệu Đấu Giá Nhanh</strong></span></span></h1>
				<br>
				<br>
				<br>
				<div>
					<p>
						Với sự phát triển mạnh mẽ của internet, thì cụm từ “bán hàng online”, “kinh doanh trực tuyến”… đã không còn là điều mới mẻ. Như các bạn biết hiện nay thị trường thương mại điện tử Việt Nam hay còn gọi là kinh doanh online đang bước vào giai đoạn bùng nổ mạnh mẽ, các website thương mại điện tử, diễn đàn bán hàng online, các gian hàng trực tuyến, sàn đấu giá online… được mở ra ào ạt với đủ các chiêu thức để thu hút mọi người tham gia, vì vậy việc có một shop bán hàng online là điều hoàn toàn dễ dàng. Tuy nhiên các hình thức kinh doanh online này vẫn còn rất nhiều hạn chế như: chưa cung cấp được các công cụ kinh doanh cần thiết, chưa thực sự thuận tiện, an toàn cho khách hàng khi giao dịch online, chưa đặt lợi ích và nguyện vọng chính đáng của khách hàng lên hàng đầu…hoặc có thì cũng như kiểu “cưỡi ngựa xem hoa”. Điều này đã trực tiếp gây ra những phiền toái, khó khăn cho những người có nhu cầu kinh doanh online thực sự.
					</p>
					<br>
					<br>
					<p>
						Từ sự thấu hiểu đó, chúng tôi đã cho ra đời sản phẩm daugianhanh.com.vn nhằm mục đích cung cấp một hành trang đầy đủ và ưu việt nhất cho tất cả mọi người có đam mê kinh doanh trực tuyến, bán hàng online...Các tính năng cho việc thực hiện giao dịch online được chúng tôi giành rất nhiều thời gian và tâm huyết để nghiên cứu, phát triển như: Đánh giá sản phẩm – Đặt hàng trực tuyến – Thanh toán trực tuyến – Thông báo bằng email – Bảo đảm người bán – An toàn người mua – Lọc tìm kiếm sản phẩm – Vận chuyển toàn quốc.
					</p>
					<br>
					<br>
					<p style="text-align:center">
						<img src="/images/Others/intro.jpg">
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
