<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		Liên hệ
	</title>
	<link href="../../public/assests/otherCSS/header.css" rel="stylesheet"/>
	<link href="../..//public/assests/otherCSS/journal2.css" rel="stylesheet"/>
	<link href="../../public/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<script src="../../public/assests/jquery-3.2.0.min.js" type="text/javascript">
	</script>
</link>
</meta>
</head>
<body>
	<div class="container-fluid">
		<div class="row" style="margin-top:-10px;">
			<h2 style="text-align: center;">Hỏi Đáp</h2>
			<br>
			<br>
			
			<h4>1) Làm thế nào để thắng sản phẩm?</h4>
			<p>
				-Khi tham gia đấu giá người mua sẽ ra giá cao hơn giá hiện tại của sản phẩm hoặc giá của những người mua khác, lúc đó người mua sẽ là người giữ giá cao nhất, khi sản phẩm hết hạn nếu không có ai trả giá cao hơn, thì người mua sẽ thắng sản phẩm.
			</p>

			<p>-Người mua có thể trả mức giá bằng mức giá bán ngay để thắng luôn sản phẩm</p>
			<p>
				-Mỗi lần ra giá sẽ có một bước giá nhất định dành cho người mua.
			</p>
			
			<h4>2) Làm thế nào để bán một sản phẩm trên web đấu giá?</h4>
			<p>
				-Người bán sẽ đăng kí một tài khoản, sau khi đăng kí tài khoản thành công người bán có thể đăng các sản phẩm mình muốn bán lên web đấu giá.
			</p>
			
			<h4>3) Cách thức đăng sản phẩm cần bán lên web đấu giá</h4>
			<p>
				-Người bán tiến hành đăng nhập vào tài khoản của mình, sau đó chọn tính năng đăng sản phẩm.
			</p>
			<p>
				-Khi đó người bán tiến hành nhập các thông tin về sản phẩm của mình, khi nhập thông tin xong người bán tiến hành chọn các hình ảnh của sản phẩm để upload lên web. Xong đó chọn đồng ý, sản phẩm của người bán sẽ được đăng lên website đấu giá của chúng tôi.
			</p>
			<p>
				-Mỗi sản phẩm có thời hạn tồn tại là 7 ngày, sau khi hết hạn người bán cần gia hạn sản phẩm.
			</p>
			
		</div>
	</div>
</body>
