{{#section 'title'}}
    Đấu giá nhanh
{{/section}}

{{#section 'css'}}
    
{{/section}}

{{!-- body --}}
<div class="row">
	<div class="nav-section">
	    <div class="icon-new">
	        <h3 class="h-title">
	            Top 5 sản phẩm có nhiều lượt ra giá nhất
	        </h3>
	        <p>
	            chưa có thông tin
	        </p>
	    </div>
	</div>
</div>
<!-- end row -->
<div class="row">
	<div class="nav-section">
	    <h3 class="h-title">
	        Top 5 sản phẩm có giá cao nhất
	    </h3>
	    <p>
	        chưa có thông tin
	    </p>
	</div>
</div>
<div class="row">
	<div class="nav-section">
	    <div class="icon-new">
	        <h3 class="h-title">
	            Top 5 sản phẩm gần kết thúc
	        </h3>
	        <p>
	            chưa có thông tin
	        </p>
	    </div>
	</div>
</div>
{{!-- end body --}}

{{#section 'js'}}
    
{{/section}}