<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Trang web bán hàng</title>
	<link rel="stylesheet" type="text/css" href="../public/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<script type="text/javascript" src="../public/assests/jquery-3.2.0.min.js"></script>

	<script>
		$(document).ready(function(){
			$("#DSSP").hover(function(){
				$(this).css("color", "red");
			}, function(){
				$(this).css("color", "black");
			});
		});

		$(document).ready(function(){
			$("[data-toggle=popover]").popover({ 
				trigger: 'manual',
				html: true,
				content: function() {
					return $(this).next('.popover').html();
				}
			}).on("mouseenter", function () {
				var _this = this;
				$(this).popover("show");
				$(".popover").on("mouseleave", function () {
					$(_this).popover('hide');
				});
			}).on("mouseleave", function () {
				var _this = this;
				setTimeout(function () {
					if (!$(".popover:hover").length) {
						$(_this).popover("hide");
					}
				}, 300);
			});
		});

	</script>

	<style type="text/css">
		.nav-top .nav-logo {
			position: absolute;
			left: 0;
			top: 0px;
			display: inline-block;
		}

		.group-ht{
			font-size: 10px;
			font-weight: bold;
		}

		#DSSP{
			font-weight: bold;
		}

		.box-nav-menu{
			font-weight: bold;
		}

		.nav-li{
			font-weight: bold;
		}
	}
</style>

</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<header>
				<nav class="navbar navbar-default" style="background-color: #EEEEEE">
					<div class="nav-links" align="right">
						<a href="/index.html">Trang chủ</a>
						|
						<a href="/ve-chung-toi.html">Giới thiệu</a>
						|
						<a href="/ho-tro.html">Hỗ trợ</a>
						|
						<a href="/hoi-dap.html">Hỏi đáp</a>
						|
						<a href="/lien-he.html">Liên hệ&nbsp;&nbsp;</a>

						<a href="signup.html" class="bold nav-login">Đăng ký</a><span> hoặc </span>
						<a href="signin.html" class="bold nav-login margin10h">Đăng nhập</a> &nbsp;&nbsp;
						<a href="/basket/view.html">Giỏ hàng(0)</a>
					</div>
				</nav>
			</header>
		</div>
		<div class="row">
			<div class="nav-top1 nav-top">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<a class="nav-logo" href="/"><img src="../public/assests/images/logo.jpg" style="width: 270px; height: 100px;">
					</a>


					<div class="panel panel-default" style="margin-top: 120px">
						<div class="panel-heading"  style="background-color: yellow">
							<h3 class="panel-title" align="center" id="DSSP">Danh sách sản phẩm</h3>
						</div>
						<div class="panel-body">
							
							<li class="nav-li bold" data-submenu-id="submenu-41"><a href="/danh-muc-san-pham/thoi-trang-nu-41.html" data-toggle="popover">Thời trang nữ</a>
								
								<div class="popover" id="submenu_41" style="display: none; top: -1px; left: 211px; height: 390px;">
									<h3 class="popover-title">Thời trang nữ</h3>
									<ul class="box-nav-menu" id="1">
										
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/ao-voan-ao-kieu-697.html" data-toggle="popover">Áo voan - áo kiểu</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/ao-so-mi-692.html" data-toggle="popover">Áo Sơ mi</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/ao-thun-691.html" data-toggle="popover">Áo Thun</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/ao-khoac-ao-gio-696.html" data-toggle="popover">Áo khoác - áo gió</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/quan-jeans-kaki-687.html" data-toggle="popover">Quần Jeans &amp; Kaki</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/quan-short-688.html" data-toggle="popover">Quần Short</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/quan-tay-690.html" data-toggle="popover">Quần Tây</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/quan-khac-778.html" data-toggle="popover">Quần khác</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/vay-dam-686.html" data-toggle="popover">Váy - đầm</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/veston-nu-695.html" data-toggle="popover">Veston nữ</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/do-lot-nu-bikini-694.html" data-toggle="popover">Đồ ngủ - đồ bộ - Bikini</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/do-len-da-693.html" data-toggle="popover">Đồ len - dạ</a>
											
										</li>
									</ul>
								</div>
							</li>
							
							<li class="nav-li bold" data-submenu-id="submenu-606"><a href="/danh-muc-san-pham/thoi-trang-nam-606.html" data-toggle="popover">Thời trang nam</a>
								
								<div class="popover" id="submenu_606" style="display: none; top: -1px; left: 211px; height: 390px;">
									<h3 class="popover-title">Thời trang nam</h3>
									<ul class="box-nav-menu">
										
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/quan-jean-kaki-641.html" data-toggle="popover">Quần Jean - Kaki</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/quan-short-640.html" data-toggle="popover">Quần Short</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/quan-tay-639.html" data-toggle="popover">Quần Tây</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/quan-thun-815.html" data-toggle="popover">Quần thun</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/ao-thun-615.html" data-toggle="popover">Áo Thun</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/ao-somi-638.html" data-toggle="popover">Áo Sơmi</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/ao-khoac-ao-gio-637.html" data-toggle="popover">Áo khoác - áo gió</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/ao-len-da-636.html" data-toggle="popover">Áo len - dạ</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/veston-635.html" data-toggle="popover">Veston</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/do-lot-do-boi-634.html" data-toggle="popover">Đồ lót - đồ bơi</a>
											
										</li>
									</ul>
									
								</div>
							</li>
							
							<li class="nav-li bold" data-submenu-id="submenu-625"><a href="/danh-muc-san-pham/phu-kien-thoi-trang-625.html" data-toggle="popover">Phụ kiện thời trang</a>
								
								<div class="popover" id="submenu-625" style="display: none; top: -1px; left: 211px; height: 390px;">
									<h3 class="popover-title">Phụ kiện thời trang</h3>
									<ul class="box-nav-menu">
										
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/dong-ho-629.html" data-toggle="popover">Đồng hồ</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/giay-dep-626.html" data-toggle="popover">Giày dép</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/mat-kinh-628.html" data-toggle="popover">Mắt kính</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/vi-bop-631.html" data-toggle="popover">Ví - Bóp</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/that-lung-day-nit-630.html" data-toggle="popover">Thắt lưng - Dây nịt</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/tui-xach-627.html" data-toggle="popover">Túi xách</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/trang-suc-632.html" data-toggle="popover">Trang sức</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/mu-non-743.html" data-toggle="popover">Mũ - Nón</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/khan-choang-co-777.html" data-toggle="popover">Khăn choàng cổ</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/gang-tay-755.html" data-toggle="popover">Găng tay</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/khau-trang-760.html" data-toggle="popover">Khẩu trang</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/tat-vo-750.html" data-toggle="popover">Tất - Vớ</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/phu-kien-khac-633.html" data-toggle="popover">Phụ kiện khác</a>
											
										</li>
									</ul>
									
								</div>
							</li>
							
							<li class="nav-li bold" data-submenu-id="submenu-42"><a href="/danh-muc-san-pham/suc-khoe-lam-dep-42.html" data-toggle="popover">Sức khỏe &amp; Làm đẹp</a>
								
								<div class="popover" id="submenu-42" style="display: none;">
									<h3 class="popover-title">Sức khỏe &amp; Làm đẹp</h3>
									<ul class="box-nav-menu">
										
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/nuoc-hoa-137.html">Nước hoa</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/my-pham-makeup-138.html">Mỹ phẩm Makeup</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/my-pham-cham-soc-co-the-139.html">Mỹ phẩm chăm sóc cơ thể</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/dung-cu-lam-dep-444.html">Dụng cụ làm đẹp</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/thuc-pham-chuc-nang-140.html">Thực phẩm chức năng</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/thiet-bi-y-te-412.html">Thiết bị y tế</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/duoc-pham-539.html">Dược phẩm</a>
											
										</li>
									</ul>
									
								</div>
							</li>
							
							<li class="nav-li bold" data-submenu-id="submenu-40"><a href="/danh-muc-san-pham/dien-tu-dien-may-40.html" data-toggle="popover">Điện tử &amp; Điện máy</a>
								
								<div class="popover" id="submenu-40" style="display: none;">
									<h3 class="popover-title">Điện tử &amp; Điện máy</h3>
									<ul class="box-nav-menu">
										
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/dien-thoai-phu-kien-46.html">Điện Thoại &amp; Phụ Kiện</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/may-quay-phim-chup-hinh-47.html">Máy Quay phim &amp; Chụp hình</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/may-tinh-tablet-48.html">Máy Tính &amp; Tablet</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/thiet-bi-nghe-nhin-49.html">Thiết bị nghe nhìn</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/may-van-phong-214.html">Máy văn phòng</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/dien-may-gia-dinh-215.html">Điện máy gia đình</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/video-game-80.html">Video game</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/gps-audio-video-cho-xe-hoi-81.html">GPS &amp; Audio &amp; Video cho xe hơi</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/thiet-bi-khac-353.html">Thiết bị khác</a>
											
										</li>
									</ul>
									
								</div>
							</li>
							
							<li class="nav-li bold" data-submenu-id="submenu-44"><a href="/danh-muc-san-pham/xe-hoi-xe-may-xe-dap-44.html" data-toggle="popover">Xe hơi, xe máy, xe đạp</a>
								
								<div class="popover" id="submenu-44" style="display: none; top: -1px; left: 211px; height: 390px;">
									<h3 class="popover-title">Xe hơi, xe máy, xe đạp</h3>
									<ul class="box-nav-menu">
										
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/xe-may-147.html" data-toggle="popover">Xe máy</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/xe-hoi-148.html" data-toggle="popover">Xe hơi</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/xe-dap-489.html" data-toggle="popover">Xe đạp</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/phu-tung-160.html" data-toggle="popover">Phụ tùng</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/dung-cu-cong-cu-161.html" data-toggle="popover">Dụng cụ &amp; Công cụ</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/phu-kien-trang-tri-413.html" data-toggle="popover">Phụ kiện &amp; Trang trí</a>
											
										</li>
									</ul>
									
								</div>
							</li>
							
							<li class="nav-li bold" data-submenu-id="submenu-206"><a href="/danh-muc-san-pham/thuc-pham-do-uong-206.html" data-toggle="popover">Thực phẩm &amp; Đồ uống</a>
								
								<div class="popover" id="submenu-206" style="display: none;">
									<h3 class="popover-title">Thực phẩm &amp; Đồ uống</h3>
									<ul class="box-nav-menu">
										
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/do-uong-227.html">Đồ uống</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/thuc-pham-tuoi-237.html">Thực phẩm tươi</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/thuc-pham-kho-238.html">Thực phẩm khô</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/thuc-pham-dong-hop-239.html">Thực phẩm đóng hộp</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/banh-keo-mut-dac-san-244.html">Bánh kẹo - Mứt - Đặc sản</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/thuc-pham-gia-vi-246.html">Gia vị thực phẩm</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/nguyen-phu-lieu-597.html">Nguyên phụ liệu</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/thuc-an-vat-nuoi-476.html">Thức ăn vật nuôi</a>
											
										</li>
									</ul>
									
								</div>
							</li>
							
							<li class="nav-li bold" data-submenu-id="submenu-456"><a href="/danh-muc-san-pham/hang-tieu-dung-456.html" data-toggle="popover">Hàng tiêu dùng</a>
								
								<div class="popover" id="submenu-456" style="display: none; top: -1px; left: 211px; height: 390px;">
									<h3 class="popover-title">Hàng tiêu dùng</h3>
									<ul class="box-nav-menu">
										
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/cham-soc-ca-nhan-786.html" data-toggle="popover">Chăm sóc cá nhân</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/dung-cu-gia-dinh-479.html" data-toggle="popover">Dụng cụ gia đình</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/dau-goi-sua-tam-462.html" data-toggle="popover">Dầu gội - sữa tắm</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/bot-giat-nuoc-xa-461.html" data-toggle="popover">Bột giặt - nước xả</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/giay-an-giay-ve-sinh-471.html" data-toggle="popover">Giấy ăn - giấy vệ sinh</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/hoa-pham-472.html" data-toggle="popover">Hóa phẩm</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/van-phong-pham-581.html" data-toggle="popover">Văn phòng phẩm</a>
											
										</li>
									</ul>
									
								</div>
							</li>
							
							<li class="nav-li bold" data-submenu-id="submenu-698"><a href="/danh-muc-san-pham/me-va-be-698.html" data-toggle="popover">Mẹ và bé</a>
								
								<div class="popover" id="submenu-698" style="display: none;">
									<h3 class="popover-title">Mẹ và bé</h3>
									<ul class="box-nav-menu">
										
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/thoi-trang-cho-be-703.html">Thời trang cho bé</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/do-dung-cho-be-702.html">Đồ dùng cho bé</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/dung-cu-an-uong-701.html">Dụng cụ ăn uống</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/xe-cho-be-700.html">Xe cho bé</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/san-pham-dinh-duong-795.html">Sản phẩm dinh dưỡng</a>
											
										</li>
										<li class="nav-li no-bold"><a href="/danh-muc-san-pham/san-pham-ve-sinh-699.html">Sản phẩm vệ sinh</a>
											
										</li>
									</ul>
									
								</div>
							</li>
							
						</div>
					</div>


				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="panel panel-default" style="background-color: #CCCCCC">
						<div class="panel-body">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Tìm kiếm" style="width: 90%">
								<span class="input-group-btn">
									<button type="button" class="btn btn-warning">Tìm kiếm</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<table class="table table-hover">
						<tbody>
							<tr>
								<td>
									<div class="group-ht" style="width: 90%">
										<a class="bold" href="/thong-tin/thanh-toan-an-toan-3.html">Thanh toán an toàn</a>
										<span class="c_font">
											<br>Thanh toán an toàn, mua hàng bảo đảm, website bán hàng uy tín
										</span>
									</div>
								</td>
								<td>
									<div class="icon-gh" ><img src="../public/assests/images/tt.png"></div>
								</td>								
							</tr>

							<tr>							
								<td>
									<div class="group-ht" style="width: 90%">
										<a class="bold" href="/thong-tin/giao-hang-tan-nguoi-mua-4.html">Giao hàng tận người mua</a>
										<span class="c_font">
											<br>
											Liên kết với các Công ty vận chuyển hàng đầu VN để giao hàng tận tay Quý khách	  
										</span>
									</div>
								</td>
								<td>
									<div class="icon-gh"><img src="../public/assests/images/gh.png"></div>
								</td>								
							</tr>

							<tr>															
								<td>
									<div class="group-ht" style="width: 90%">
										<a class="bold" href="/thong-tin/ho-tro-rui-ro-ve-hang-hoa-5.html">Hỗ trợ rủi ro về hàng hóa</a> 
										<span class="c_font">
											<br>
											Không nhận được hàng, nhận hàng không đúng mô tả, hỗ trợ hoàn tiền 100% giá trị	  
										</span>
									</div>
								</td>
								<td>
									<div class="icon-gh" align="right"><img src="../public/assests/images/ht.png"></div>
								</td>								
							</tr>
						</tbody>
					</table>														
				</div>
			</div>
		</div>


	</div>

</body>
<script type="text/javascript" src="../public/assests/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="../public/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</html>