<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Trang web bán hàng</title>
	<link rel="stylesheet" type="text/css" href="../public/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<script type="text/javascript" src="../public/assests/jquery-3.2.0.min.js"></script>

	<script>
		$(document).ready(function(){
			$("#DSSP").hover(function(){
				$(this).css("color", "red");
			}, function(){
				$(this).css("color", "black");
			});
		});

		$(document).ready(function(){
			$("[data-toggle=popover]").popover({ 
				trigger: 'manual',
				html: true,
				content: function() {
					return $(this).next('.popover').html();
				}
			}).on("mouseenter", function () {
				var _this = this;
				$(this).popover("show");
				$(".popover").on("mouseleave", function () {
					$(_this).popover('hide');
				});
			}).on("mouseleave", function () {
				var _this = this;
				setTimeout(function () {
					if (!$(".popover:hover").length) {
						$(_this).popover("hide");
					}
				}, 300);
			});
		});

	</script>

	<style type="text/css">
		.nav-top .nav-logo {
			position: absolute;
			left: 0;
			top: 0px;
			display: inline-block;
		}

		.group-ht{
			font-size: 10px;
			font-weight: bold;
		}

		#DSSP{
			font-weight: bold;
		}

		.box-nav-menu{
			font-weight: bold;
		}

		.nav-li{
			font-weight: bold;
		}
	}
</style>

</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<header>
				<nav class="navbar navbar-default" style="background-color: #EEEEEE">
					<div class="nav-links" align="right">
						<a href="/index.html">Trang chủ</a>
						|
						<a href="/ve-chung-toi.html">Giới thiệu</a>
						|
						<a href="/ho-tro.html">Hỗ trợ</a>
						|
						<a href="/hoi-dap.html">Hỏi đáp</a>
						|
						<a href="/lien-he.html">Liên hệ&nbsp;&nbsp;</a>

						<a href="signup.html" class="bold nav-login">Đăng ký</a><span> hoặc </span>
						<a href="signin.html" class="bold nav-login margin10h">Đăng nhập</a> &nbsp;&nbsp;
						<a href="/basket/view.html">Giỏ hàng(0)</a>
					</div>
				</nav>
			</header>
		</div>
			<div class="row">
				<div class="nav-top1 nav-top">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<a class="nav-logo" href="/"><img src="../public/assests/images/logo.jpg" style="width: 270px; height: 100px;">
						</a>
						</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="panel panel-default" style="background-color: #CCCCCC">
							<div class="panel-body">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Tìm kiếm" style="width: 90%">
									<span class="input-group-btn">
										<button type="button" class="btn btn-warning">Tìm kiếm</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>
										<div class="group-ht" style="width: 90%">
											<a class="bold" href="/thong-tin/thanh-toan-an-toan-3.html">Thanh toán an toàn</a>
											<span class="c_font">
												<br>Thanh toán an toàn, mua hàng bảo đảm, website bán hàng uy tín
											</span>
										</div>
									</td>
									<td>
										<div class="icon-gh" ><img src="../public/assests/images/tt.png"></div>
									</td>								
								</tr>

								<tr>							
									<td>
										<div class="group-ht" style="width: 90%">
											<a class="bold" href="/thong-tin/giao-hang-tan-nguoi-mua-4.html">Giao hàng tận người mua</a>
											<span class="c_font">
												<br>
												Liên kết với các Công ty vận chuyển hàng đầu VN để giao hàng tận tay Quý khách	  
											</span>
										</div>
									</td>
									<td>
										<div class="icon-gh"><img src="../public/assests/images/gh.png"></div>
									</td>								
								</tr>

								<tr>															
									<td>
										<div class="group-ht" style="width: 90%">
											<a class="bold" href="/thong-tin/ho-tro-rui-ro-ve-hang-hoa-5.html">Hỗ trợ rủi ro về hàng hóa</a> 
											<span class="c_font">
												<br>
												Không nhận được hàng, nhận hàng không đúng mô tả, hỗ trợ hoàn tiền 100% giá trị	  
											</span>
										</div>
									</td>
									<td>
										<div class="icon-gh" align="right"><img src="../public/assests/images/ht.png"></div>
									</td>								
								</tr>
							</tbody>
						</table>														
					</div>
				</div>
			</div>
	</div>
</body>
